* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-gap: 1em;
  padding: 1em;
  border: 10px solid #2B547E;
}

.grid > div {
  background-color: #a6a6a5;
}

button {
  max-height: 1em;
}
